jedi
lxml
pyserial==3.5
python-dateutil 
pyzmq
reactivex==4.0.4
requests
soupsieve 
stack-data 
urllib3==2.2.2
wcwidth 
webencodings==0.5.1
websocket-client
pandas
numpy
SQLAlchemy
joblib
Werkzeug
psycopg2-binary