jedi
lxml
pyserial==3.5
python-dateutil 
pyzmq
reactivex==4.0.4
requests==2.31.0
soupsieve 
stack-data 
urllib3==2.0.7
wcwidth 
webencodings==0.5.1
websocket-client
pandas
numpy
SQLAlchemy
joblib
Werkzeug
psycopg2-binary
pyarrow==14.0.2