jedi
lxml
python-dateutil 
pyzmq
reactivex==4.0.4
requests
soupsieve 
stack-data 
urllib3==2.5.0
wcwidth 
webencodings==0.5.1
websocket-client
pandas==2.1.3
numpy==1.26.4
asana==5.0.3
joblib
Werkzeug
slack_sdk
psycopg2-binary
jsonschema  