jedi
lxml
prometheus-client 
python-dateutil 
pyzmq
reactivex==4.0.4
requests==2.31.0
soupsieve 
stack-data 
urllib3==2.0.7
wcwidth 
webencodings==0.5.1
websocket-client
pandas
numpy
SQLAlchemy
asana==3.2.2
joblib
Werkzeug
slack_sdk
psycopg2-binary
pyarrow