jedi
lxml
prometheus-client 
python-dateutil 
pyzmq
reactivex==4.0.4
requests
soupsieve 
stack-data 
urllib3==2.2.2
wcwidth 
webencodings==0.5.1
websocket-client
pandas
numpy
SQLAlchemy
asana==5.0.3
joblib
Werkzeug
slack_sdk
psycopg2-binary
jsonschema