beautifulsoup4 
influxdb-client==1.38.0
jedi
lxml
paho-mqtt==1.6.1
prometheus-client 
psutil 
pyserial==3.5
python-dateutil 
pyzmq
reactivex==4.0.4
requests
soupsieve 
stack-data 
urllib3==2.0.7
wcwidth 
webencodings==0.5.1
websocket-client
pandas
numpy
SQLAlchemy
spotipy
asana
streamlit
Flask
gunicorn
joblib
Werkzeug
apache-airflow-providers-asana
apache-airflow-providers-openfaas
apache-airflow-providers-influxdb
apache-airflow-providers-discord
apache-airflow-providers-apache-kafka
python-kasa==0.5.4
finnhub-python
slack_sdk
feedparser
ebaysdk
asana