name: openweather_current_container_build

on:
  push:
    branches:
      - "main"

jobs:
  docker:
    runs-on: push
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./etl_pipelines/
          file: ./etl_pipelines/openweather_current/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: markhamlee/openweather_current:latest